<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Differentiation + AOD quiz</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <h1>Differentiation + AOD quiz</h1>

    <h3>Submit Your Name</h3>
    <form method="POST">
        <input type="hidden" name="score" value="{{ score }}">
        <label for="name" class="username">Enter your name:</label>
        <input type="text" id="name" name="name" required>
      
        <ul class="quiz">
            <li>
                <h4>1. Which one of these graphs is the graph for y = sin⁻¹x?</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question3" value="A"/><! correct ans --> <span><img src="{{ url_for('static', filename='inverse sin graph.jpg') }}" alt="graph 1" width="200" height="150"></span></label></li>
                    <li><label><input type="radio" name="question3" value="B"/> <span><img src="{{ url_for('static', filename='inverse cos graph.webp') }}" alt="graph 2" width="200" height="150"></span></label></li>
                    <li><label><input type="radio" name="question3" value="C"/> <span><img src="{{ url_for('static', filename='sin graph.png') }}" alt="graph 3" width="200" height="150"></span></label></li>
                    <li><label><input type="radio" name="question3" value="D"/> <span><img src="{{ url_for('static', filename='tan graph.gif') }}" alt="graph 4" width="200" height="150"></span></label></li>
                </ul>
            </li>
            <li>
                <h4>2. The 2nd derivative of (x² + y² = 2y) is (1 - y)³.</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question4" value="A"/> <span>True</span></label></li>
                    <li><label><input type="radio" name="question4" value="B"/> <span><! correct ans -->False</span></label></li>
                </ul>
            </li>
            <li>
                <h4>3. <img src="{{ url_for('static', filename='maximum graph.png') }}" alt="graph 4" width="200" height="150"><br> What are the properties of this graph?</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question5" value="A"/> <span>It is a maximum point and the gradient is increasing.</span></label></li>
                    <li><label><input type="radio" name="question5" value="B"/> <span>It is a minimum point and the gradient is increasing.</span></label></li>
                    <li><label><input type="radio" name="question5" value="C"/> <span><! correct ans -->It is a maximum point and the gradient is decreasing.</span></label></li>
                    <li><label><input type="radio" name="question5" value="D"/> <span>It is a minimum point and the gradient is decreasing.</span></label></li>
                </ul>
            </li>
            <li>
                <h4>4. Differentiate cos⁴(2x).</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question6" value="A"/> <span>-2sin⁴(2x)</span></label></li>
                    <li><label><input type="radio" name="question6" value="B"/> <span>-2cos⁴(2x)sin⁴(2x)</span></label></li>
                    <li><label><input type="radio" name="question6" value="C"/> <span><! correct ans -->-8cos³(2x)sin(2x)</span></label></li>
                    <li><label><input type="radio" name="question6" value="D"/> <span>-8cos³(2x)</span></label></li>
                </ul>
            </li>
            <li>
                <h4>5. Differentiate x³cot²(-4x⁻²).</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question7" value="A"/> <span><! correct ans -->16cosec²(4x⁻²)cot(4x⁻²) + 3x²cot²(4x⁻²)</span></label></li>
                    <li><label><input type="radio" name="question7" value="B"/> <span>8cosec²(4x⁻²)cot(4x⁻²) + 3x²cot²(4x⁻²)</span></label></li>
                    <li><label><input type="radio" name="question7" value="C"/> <span>-8cosec²(4x⁻²) + 3x²cot²(4x⁻²)</span></label></li>
                    <li><label><input type="radio" name="question7" value="D"/> <span>16cosec²(4x⁻²)cot(4x⁻²) - 3x²cot²(4x⁻²)</span></label></li>
                </ul>
            </li>
        </ul>
      <form action="/submit_name" method="POST">
        <input type="submit" value="Submit">
      </form>
    </form>
    
    <br>
    <hr>
    <br>
    
    <form action="/home" method="POST">
      <input type="submit" value="Back to home">
    </form>
  </body>
</html>