<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>H2 Math Mini Quizes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <h1>H2 Math Mini Quizes</h1>
    <h3>Feeling confident in your Math abilities? Or are you perhaps looking for a way to revise and test yourself? Take these quizzes to find how well prepared you are for Math!</h3>
    <img src="{{ url_for('static', filename='calculator_pic.jpg') }}" alt="Calculator" width=100% height="275">
    <hr>
    
    <h2>Topics:</h2>
    
    <div class="topics">
      <a href="/standard_curves" class="button">Standard Curves</a>
      <a href="/differentiation" class="button">Differentiation + AOD</a>
      <a href="/integration" class="button">Integration</a>
    </div>
    
    <hr>

      <h2>Leaderboard:</h2>
      <a href="/leaderboard" class="button">View Leaderboard</a>
    
  </body>
</html>