<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Integration quiz</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <h1>Integration quiz</h1>

<h3>Submit Your Name</h3>
    <form method="POST">
        <input type="hidden" name="score" value="{{ score }}">
        <label for="name" class="username">Enter your name:</label>
        <input type="text" id="name" name="name" required>
      
        <ul class="quiz">
            <li>
                <h4>1. Solve this definite integral. <br><img src="{{ url_for('static', filename='definite integral.png') }}" alt="graph" width="350" height="150"></h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question8" value="A"/><span>-3.2134</span></label></li>
                    <li><label><input type="radio" name="question8" value="B"/> <span>0</span></label></li>
                    <li><label><input type="radio" name="question8" value="C"/> <span>23</span></label></li>
                    <li><label><input type="radio" name="question8" value="D"/> <span><! correct ans -->2</span></label></li>
                </ul>
            </li>
            <li>
                <h4>2. <img src="{{ url_for('static', filename='formula.png') }}" alt="graph" width="260" height="150"><br> This formula is correct.</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question9" value="A"/> <span><! correct ans -->True</span></label></li>
                    <li><label><input type="radio" name="question9" value="B"/> <span>False</span></label></li>
                </ul>
            </li>
            <li>
                <h4>3. Integrate (tan2x + sec2x)².</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question10" value="A"/> <span><! correct ans -->tan2x - x + sec2x + c</span></label></li>
                    <li><label><input type="radio" name="question10" value="B"/> <span>tan2x + x + sec2x + c</span></label></li>
                    <li><label><input type="radio" name="question10" value="C"/> <span>2tan2x - x + 2sec2x + c</span></label></li>
                    <li><label><input type="radio" name="question10" value="D"/> <span>tan2x - x - sec2x + c</span></label></li>
                </ul>
            </li>
            <li>
                <h4>4. Integrate 3x²eˣ³.</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question11" value="A"/> <span>6xeˣ³ + c</span></label></li>
                    <li><label><input type="radio" name="question11" value="B"/> <span><! correct ans -->eˣ³ + c</span></label></li>
                    <li><label><input type="radio" name="question11" value="C"/> <span>18xeˣ² + c</span></label></li>
                    <li><label><input type="radio" name="question11" value="D"/> <span>3x + c</span></label></li>
                </ul>
            </li>
            <li>
                <h4>5. Integrate 5x² - 8x + 5.</h4>
                <ul class="choices">
                    <li><label><input type="radio" name="question12" value="A"/> <span>(3/5)x³ - 4x² + 5x + c</span></label></li>
                    <li><label><input type="radio" name="question12" value="B"/> <span>(5/3)x³ - 4x² + 5x - c</span></label></li>
                    <li><label><input type="radio" name="question12" value="C"/> <span>(5/3)x³ + 4x² + 5x + c</span></label></li>
                    <li><label><input type="radio" name="question12" value="D"/> <span><! correct ans -->(5/3)x³ - 4x² + 5x + c</span></label></li>
                </ul>
            </li>
        </ul>
      <form action="/submit_name" method="POST">
        <input type="submit" value="Submit">
      </form>
    </form>
    
    <br>
    <hr>
    <br>
    
    <form action="/home" method="POST">
      <input type="submit" value="Back to home">
    </form>
  </body>
</html>