<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Date and Time</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
                <td>{{ entry[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    
    <form action="/home" method="POST">
      <input type="submit" value="Back to home">
    </form>
</body>
</html>
